@model List<SmartEventSystem.Models.Review>

<h2>Event Reviews</h2>

@if (Model.Count == 0)
{
    <p>No reviews available for this event.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Rating</th>
                <th>Comment</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in Model)
            {
                <tr>
                    <td>@review.Rating ⭐</td>
                    <td>@review.Comment</td>
                    <td>@review.ReviewDate.ToShortDateString()</td>
                </tr>
            }

            <a asp-controller="Inquiry"
               asp-action="Create"
               asp-route-eventId="@ViewBag.EventID"
               class="btn btn-warning">
                Send Inquiry
            </a>
        </tbody>
    </table>
}

