<h2>Welcome to Smart Event System</h2>

<form asp-action="Search" method="post">
    <div class="form-group">
        <input type="text" name="searchTerm"
               class="form-control"
               placeholder="Search Event by Name" required />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">
        Search Event
    </button>


</form>
