@model SmartEventSystem.Models.Venue

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-info text-white">
            <h3>@Model.VenueName</h3>
        </div>

        <div class="card-body">
            <p><strong>Address:</strong> @Model.Address</p>
            <p><strong>Capacity:</strong> @Model.Capacity people</p>

            <a asp-controller="Event"
               asp-action="Index"
               class="btn btn-secondary">
                Back to Events
            </a>
        </div>
    </div>
</div>


